@use "./variables" as v;

button {
  width: 100%;
  padding: 12px;
  border-radius: v.$input-radius;

  border: none;
  background: v.$primary;
  color: white;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: v.$primary-hover;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
