<div class="auth-card">
  <h1>Create account</h1>
  <p class="subtitle">Join SmartHub in seconds</p>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="field">
      <label>Email</label>
      <input
        type="email"
        formControlName="email"
        placeholder="you@example.com"
      />
      <small
        *ngIf="
          registerForm.controls.email.touched &&
          registerForm.controls.email.errors
        "
      >
        {{
          registerForm.controls.email.errors.required?.message ||
            registerForm.controls.email.errors.email?.message
        }}
      </small>
    </div>

    <div class="field">
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Create password"
      />
      <small
        *ngIf="
          registerForm.controls.password.touched &&
          registerForm.controls.password.errors
        "
      >
        {{
          registerForm.controls.password.errors.required?.message ||
            registerForm.controls.password.errors.password?.message
        }}
      </small>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>

    <p class="switch">
      Already have an account?
      <a routerLink="/auth/login">Login</a>
    </p>

    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>
